@inject HttpClient HttpClient

<ul class="navbar-nav">
    @{
        const string url = "http://localhost:25625/user/email";
        var response = await HttpClient.GetAsync(url);
        if (!response.IsSuccessStatusCode)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/register">Register</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <span class="nav-link text-dark">Welcome, @(response.Content.ReadAsStringAsync().Result.Trim('"'))</span>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/logout">Logout</a>
            </li>
        }
    }
</ul>